.container {
  border: 1px solid black;
  padding: 3.5em 5em;
  border-radius: 6px;
  box-shadow: 2px 7px 5px 6px rgba(0, 0, 0, 0.43);
  -webkit-box-shadow: 2px 7px 5px 6px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: 2px 7px 5px 6px rgba(0, 0, 0, 0.43);

  &__form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 60vh;
    width: 50%;
    h3 {
      margin: 0;
      background-color: rgb(48, 145, 224);
      border-radius: 6px;
      padding: 0.4em;
    }
    h5 {
      margin: 5px;
    }
    gap: 2em 8em;
    button {
      color: rgb(48, 145, 224);
      padding: 1em;
    }
  }

  &__group {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;

    &__error {
      color: red;
      p {
        margin: 0;
      }
    }
  }
}
