.container {
  width: 25%;
  padding: 1em;
  border-right: 1px solid lightgrey;
  background-color: rgb(240, 240, 240);
  &__nav {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding: 0 1em;
    h2 {
      font-size: 1em;
    }
  }
  
}

.active {
    background-color: rgb(214, 214, 214);
    border-radius: 6px;
}
