.container {
  &__details {
    display: flex;
    border-radius: 5px;
    justify-content: flex-start;

    &__id {
        padding-right: 1em;
    }

    img {
        width: 2em;
        cursor: pointer;
        margin-left: auto;
    }

    p {
      // color: red;
      font-size: 1em;
    }
  }
}
