.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(207, 207, 207, 0.1);
  backdrop-filter: blur(1px);
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.container {
  background-color: white;
  border-radius: 8px;
  padding: 1em;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 10);
  z-index: 100;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: auto;
  box-sizing: border-box;

  &__box {
    padding: 1em;
    width: 60em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    p {
      font-size: 2em;
      margin: 0.2em;
    }
    &__header {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding-bottom: 1em;
    p {
        cursor: pointer;
    }
      &__icon {
        font-size: 4em;
        padding-right: 0.5em;
      }
    }
    &__details {
      display: flex;
      justify-content: center;
      padding-bottom: 5em;
      &__left {
        display: flex;
        justify-content: center;
        flex-direction: column;

        p {
          border: 1px solid black;
          padding: 1em;
          border-radius: 6px;
          margin: 0 0.2em;
          margin-bottom: 0.3em;
          font-weight: bold;
        }   
      }
      &__right {
        padding: 1em;
        border-radius: 6px;
        max-height: 28vh;
        overflow-y: auto;
        border: 1px solid #ccc;
      }
      &__title {
        display: flex;
        gap: 2em;
      }
    }
  }
}
