.container {
  border: 1px solid grey;
  width: 12vw;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 7px 5px 0px rgba(0, 0, 0, 0.43);
  -webkit-box-shadow: 1px 7px 5px 0px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: 1px 7px 5px 0px rgba(0, 0, 0, 0.43);

  img {
    width: 50%;
  }
}
