

html, body {
    height: 100vh; // Full viewport height
    margin: 0;
    padding: 0;
}

// If you have a root container (like #root in React)
#root {
    height: 100vh;
}

.container {
  display: flex;
}